/tech_printout - Thursday.xlsx
/tech_printout - Sunday.xlsx
/tech_printout - Saturday.xlsx
/tech_printout - Monday.xlsx
/tech_printout - Friday.xlsx
/PlanoReports/
/.idea/
/.venv/
/Not Final.jpg
/tech_printout - Friday.pdf
/tech_printout - Monday.pdf
/tech_printout - Saturday.pdf
/tech_printout - Sunday.pdf
/tech_printout - Thursday.pdf
